<!-- wp:template-part { "slug":"header","tagName":"header","className":"boo-header","layout":{ "inherit":true } } /-->

<!-- wp:group { "tagName":"main","layout":{ "inherit":true } } -->
  <main class="boo-site-content wp-block-group">

    <!-- wp:query -->
      <div class="boo-query">
        <!-- wp:post-content { "align":"full","layout":{ "inherit":true } } /-->
      </div>
    <!-- /wp:query -->

  </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug":"footer","tagName":"footer","className":"boo-footer","layout":{ "inherit":true } } /-->
