<!-- wp:template-part { "slug":"header","tagName":"header","className":"boo-header","layout":{ "inherit":true } } /-->

<!-- wp:group { "tagName":"main","layout":{ "inherit":true } } -->
  <main class="boo-site-content wp-block-group">

    <!-- wp:query -->
      <div class="boo-query">
        <!-- wp:post-featured-image /-->
        <!-- wp:post-title { "level":1 } /-->
        <!-- wp:post-content { "align":"full","layout":{"inherit":true} } /-->
        <!-- wp:post-author { "showAvatar":false } /-->
        <!-- wp:post-date /-->
        <!-- wp:post-terms { "term":"category" } /-->
			  <!-- wp:post-terms { "term":"post_tag" } /-->

        <!-- wp:spacer { "height":40 } -->
      		<div class="boo-spacer" style="height:40px" aria-hidden="true"></div>
      	<!-- /wp:spacer -->

        <!-- wp:post-navigation-link { "type":"previous" } /-->
        <!-- wp:post-navigation-link /-->
      </div>
    <!-- /wp:query -->

    <!-- wp:spacer { "height":40 } -->
      <div class="boo-spacer" style="height:40px" aria-hidden="true"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading { "className:"boo-comments-title" } -->
      <h2 class="boo-comments-title">Comments</h2>
    <!-- /wp:heading -->
    <!-- wp:post-comments /-->

  </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug":"footer","tagName":"footer","className":"boo-footer","layout":{ "inherit":true } } /-->
